---
import AstrosPointsGame from '../../components/26AstrosPointsGame.jsx';
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>26 Astros Points Game</title>
  </head>
  <body class="bg-slate-900 m-0 p-0">
    <AstrosPointsGame client:only="react" />
  </body>
</html>
